.main-page-navbar, .search-bar-w-label, .all-pokemon-cards, .pokemon-card-div a, .card-types ul, 
.card-sprite-holder, .card-name-number-types, .pagination  {
    display: flex;
}

.main-page-navbar, .pokemon-card-div a, .card-name-number-types {
    justify-content: space-between;
}

.main-page-navbar, .all-pokemon-cards, .card-sprite-holder, .pagination {
    align-items: center;
}

.search-bar-w-label, .card-types ul, .card-sprite-holder, .card-name-number-types {
    flex-direction: column;

}

.main-page-navbar {
    width: 100%;
    border: solid black 5px;
    padding: 1.33rem 3rem;
    margin-bottom: 1rem;
}   

.all-pokemon-cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 1rem;
}

.pokemon-card-div {
    width: 30%;
    max-width: 18rem;
    height: 11rem;
    margin: 1.5rem 1rem;
    a {
        align-items: flex-end;
        height: 100%;
}
}

.card-types {
    ul {
        align-items: flex-start;
        margin: 0;
        padding: 0;
        justify-content: flex-start;
        li {
            width: 3rem;
        }
        img {
            width: 3rem;
            height: auto;
        }

    }
}

.card-sprite-holder {
    width: 50%;
    height: 70%;
    justify-content: center;
}

.pokemon-card-sprites {
    position: absolute;
    width: 12rem;
    height: auto;
}

.card-name-number-types {
    height: 100%;
    white-space: nowrap;
    padding: .5rem 0 .5rem .5rem;
}

.card-name-and-number {
    margin-left: .5rem;
}

.pagination {
    border: solid black 3px;
    margin-top: 1rem;
    padding: 1.75rem 3rem;
    justify-content: space-around;
    li {
        border: solid white 2px;
        padding: .25rem .75rem;
        border-radius: 20px;
        :hover {
            cursor: pointer;
        }
    }
}