// Colors
$dark-grey : #282828;
$light-grey : #d9d9d9;

// Fonts
$std-font-stack : 'Sansation', ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
