/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  color: black;
  background: #d9d9d9;
  padding: 0.75rem 1rem;
  border: 2px solid black;
  border-radius: 10px;
}

@font-face {
  font-family: "PokemonDisplay";
  src: url("../assets/fonts/PokemonSolid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sansation";
  src: url("../assets/fonts/Sansation/Sansation_Regular.ttf") format("truetype");
}
* {
  color: white;
  font-family: "Sansation", ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  font-size: clamp(1.2rem, 0.5rem + 1vw, 1.75rem);
}

.pokedex-title {
  font-family: PokemonDisplay, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 3.25rem;
  font-size: clamp(3.25rem, 2.5882352941rem + 1.1764705882vw, 4rem);
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
}

#search-input-bar, .pokemon-card-div a * {
  color: black;
}

.pokemon-card-div a {
  text-decoration: none;
  text-transform: capitalize;
}

.card-types ul, .pagination {
  list-style-type: none;
}

.card-name-and-number, .pagination li {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 0.5rem + 1vw, 1.75rem);
}

.main-page-navbar, .search-bar-w-label, .all-pokemon-cards, .pokemon-card-div a, .card-types ul,
.card-sprite-holder, .card-name-number-types, .pagination {
  display: flex;
}

.main-page-navbar, .pokemon-card-div a, .card-name-number-types {
  justify-content: space-between;
}

.main-page-navbar, .all-pokemon-cards, .card-sprite-holder, .pagination {
  align-items: center;
}

.search-bar-w-label, .card-types ul, .card-sprite-holder, .card-name-number-types {
  flex-direction: column;
}

.main-page-navbar {
  width: 100%;
  border: solid black 5px;
  padding: 1.33rem 3rem;
  margin-bottom: 1rem;
}

.all-pokemon-cards {
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 1rem;
}

.pokemon-card-div {
  width: 30%;
  max-width: 18rem;
  height: 11rem;
  margin: 1.5rem 1rem;
}
.pokemon-card-div a {
  align-items: flex-end;
  height: 100%;
}

.card-types ul {
  align-items: flex-start;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
.card-types ul li {
  width: 3rem;
}
.card-types ul img {
  width: 3rem;
  height: auto;
}

.card-sprite-holder {
  width: 50%;
  height: 70%;
  justify-content: center;
}

.pokemon-card-sprites {
  position: absolute;
  width: 12rem;
  height: auto;
}

.card-name-number-types {
  height: 100%;
  white-space: nowrap;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.card-name-and-number {
  margin-left: 0.5rem;
}

.pagination {
  border: solid black 3px;
  margin-top: 1rem;
  padding: 1.75rem 3rem;
  justify-content: space-around;
}
.pagination li {
  border: solid white 2px;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
}
.pagination li :hover {
  cursor: pointer;
}

.dark-grey-background {
  background-color: #282828;
}

/*# sourceMappingURL=styles.css.map */
